{
    "CN": "etcd",
    "hosts": [
{{ETCD_IPS}}        "127.0.0.1",
        "localhost"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "ChengDu",
            "ST": "ChengDu"
        }
    ]
}
